.Main {
    height: 100vh;
    padding: 30px;
}
.header{
    height: 7rem;
    align-items: center;
    background-color: rgb(56, 53, 53);
    color: white;
    font-size: x-large;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}
.header span{
    margin-left: 10px;
}
.admin{
    margin-right: 20px;
}

.Course {
    display: flex;
    flex-direction: row;
    width: 98%;
    margin: 50px auto;
    justify-content: space-between;

}

.Welcome {
    font-size: 3vw;
    font-weight: 500;
}

.Body {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 20px;
    margin-left: 15px;
    line-height: 20px;
    border-radius: 7px;
    transform: translateX(0px);
    transition: all 1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Body img {
    width: 200px;
    height: 240px;

}
:hover .Body{
    transform: translateX(5px);
}.Button {
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    color: white;
    background-color: #3B71CA;
    height: 20px;
    font-size: 1.2rem;
    border-radius: 4px;
}
@media screen and (max-width:728px) {
    .Course{
        flex-wrap: wrap;
    }
    .header{
    font-size:small;
    height: fit-content;
    margin-bottom:1px;

    }
    .admin{
        font-size:small;
        margin: 5px;
    }
    
    
}